.book-container {
  margin: 0 auto;
  margin-top: 1rem;
  margin-left: 2rem;
}

.book-button {
  background-color: #402e77;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.book-button:hover {
  background-color: #0052d9;
}

.bookul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
  padding: 0.5rem;
}

.bookli {
  margin-bottom: 5px;
  padding: 0.5rem;
  margin-left: 20px;
}

a {
  color: #0065fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
