footer {
  background-color: #402e77;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

footer p {
  color: #ffffff;
}
