header {
  background-color: #402e77;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1;
}

header h1 {
  color: #28dcdc;
  text-transform: uppercase;
}

.logout-wrapper {
  position: absolute;
  top: 0;
  right: 20px;
}

.user-icon {
  border: #ffffff 0.15rem solid;
  border-radius: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .logout-wrapper {
    top: 0;
    right: 20px;
  }

  header h1 {
    margin-top: 50px;
  }
}

.sign-out {
  background-color: #dc3545;
  color: #fff;
  border: none;
  font-weight: bolder;
  border: #000 solid 0.2rem;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
}

.sign-out:is(:hover, :focus) {
  background-color: #ffffff;
  color: #ff0000;
  transition: all 0.2s;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #222;
  border-radius: 1rem;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.user-info span {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: small;
  color: #fff;
  padding: 0.5rem;
  width: 100%;
  border: #000 solid 0.2rem;
  border-radius: 1rem;
  background-color: #000;
}
