.module-container {
  display: flex;
  flex-wrap: wrap;
}

.module-button {
  background-color: #402e77;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.module-button:hover {
  background-color: #0052d9;
}

.topics {
  margin-left: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.topic {
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #0065fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
