.module-container {
  display: flex;
  flex-wrap: wrap;
}

.module-button {
  background-color: #402e77;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.topic {
  color: #0065fc;
  cursor: pointer;
  transition: all 0.2s;
}
.topic:hover {
  color: #333;
}

.module-button:hover {
  background-color: #0052d9;
}

.topics {
  margin-left: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.topic {
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #0065fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.video-thumbnail {
  width: 640px;
  height: 360px;
  margin-right: 10px;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-details {
  display: flex;
  align-items: center;
}

.video-details a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.video-details span {
  margin-left: 10px;
  font-size: 0.8rem;
}
