* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f2f2f2;
}

div {
  padding: 10px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
}

#signin[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#signin[type="submit"]:is(:hover, :focus) {
  background-color: #54a7ff;
  transition: all 0.2s;
  color: #000;
}
.sign-in {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: bolder;
  border: #000 solid 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sign-in:is(:hover, :focus) {
  border: #fff solid 0.2rem;
  font-size: 1.1rem;
  transition: all 0.2s;
  background-color: #000;
  color: #fff;
}
