* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #402e77;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

header h1 {
  color: #28dcdc;
  text-transform: uppercase;
}

nav a {
  color: white;
  background-color: #000;
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  font-size: 1rem;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
}

nav a:hover {
  cursor: pointer;
  color: #1da1f2;
  font-size: 0.9rem;
  background-color: #000;
  text-decoration: none;
  transition: all 0.2s;
}

.logout-wrapper {
  position: absolute;
  top: 0px;
  right: 20px;
}

@media only screen and (max-width: 600px) {
  nav a {
    border-radius: 5px;
    font-size: 0.5rem;
  }
  nav a:hover {
    font-size: 0.3rem;
  }

  .logout-wrapper {
    top: 0;
    right: 20px;
  }

  header h1 {
    margin-top: 50px;
  }

  form {
    margin-top: 60px;
  }
}

.input-group {
  position: relative;
}

.input {
  border: solid 1.5px #000;
  border-radius: 1rem;
  background-color: #402e77;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  color: #fff;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #fff;
  font-weight: bolder;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #402e77;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-95%) scale(1);
  padding: 0 0.2em;
  color: #402e77;
  font-weight: bolder;
}

div {
  padding: 10px;
}

#submitbtn {
  background-color: #77ff74;
  color: #000;
  border: #000 2px solid;
  font-weight: bolder;
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

#submitbtn:hover {
  font-size: 0.9rem;
  background-color: #402e77;
  border: #000 2px solid;
  color: #fff;
}

footer {
  background-color: #402e77;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

footer p {
  color: #fff;
}

select {
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;
  background-color: #402e77;
  color: #fff;
}

#subjcode {
  color: #fff;
  background-color: #402e77;
}

#head-caption {
  color: #95cfde;
}

/* Autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #402e77 inset !important;
}

/* Change text in autofill textbox */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
}

.syllabus-label {
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  margin-right: 5px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}
.syllabus-label:hover {
  border: 2px solid #000;
  background-color: #bbb;
}
